header{
    height: 98vh;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    background: #0a0a0a;
    background: linear-gradient(90deg,rgba(10, 10, 10, 1) 31%, rgb(89, 126, 26) 100%);
}

.logoSmartFlora{
    margin-top: 17px;
    margin-left: 30px;
    height: 30px;
}
.headerDesc{
    margin-left: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: first baseline;
    gap: 20px;
}

.headerStar{
    font-size: 30px;
}
.headerDesc-Container{
    
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: white;
}

.headerDesc-Container div{
    width: 50%;
    height: 100%;
}
.headerDesc-Container a{

  
   color: white;
   text-decoration: underline;
   font-size: 12px;
 }


.headerModel{
    margin-right: 100px;
}

.nav-Container{
    gap: 70px;
    width: 97%;
    height:90px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}

h1{
    font-size: 50px;
    font-weight: 600;
}


.section1{
    background: url(/src/assets/section2bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 98vh;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.section1-Container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
}
.section1-Container h1{
    font-size: xx-large;
}

.section1-Content{
    color: white;
    text-align: right;
    padding: 60px;
    background-color: rgba(10, 10, 10, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 80px;
    width: 50%;
    height: 80%;
    gap: 20px
}

.section1-Content h1{
    font-size: 50px;
    font-weight: 400;
}

.section1-Content p{
    font-size: 20px;
    font-weight: 400;
}
.section1-Button{
    margin-top: 50px;
}


.section1-graph{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 30%;
    background-color:rgba(10, 10, 10, 0.9);
    border-radius: 8px;
    overflow: hidden;
}
.section1-graph-images{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 120px;
    animation: runSlider 5s linear infinite;
}

.section1-graph-images img{
    overflow: hidden;
    transition-duration: 0.2s;
    transform-style: preserve-3d;
    transition-timing-function: ease-in-out;
    display: block;
    height: 210px;
    width: 39%;
    border: 2px solid rgb(175, 255, 37);
    border-radius: 100%;
}





@keyframes runSlider{
    from{
        transform: translateY(0);
    }to{
        transform: translateY(calc(94px * 7));
    }
}
.section2{
background-color: #0a0a0a;
    height: 110vh
1008.7px
;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 2%
}

 .section2 h1{
    color: white;
    font-weight: 100;
}
/*
.section2 img{
    width: 20%;
   
} */
.section2-title{
    gap: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 70px;
}
.section2-cards-Container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    width: 36%;
    margin: 0 auto;
    align-items: baseline;
    align-content: center;
    justify-items: start;
    padding-bottom: 6%;
    justify-items: center;

}


 .section2 h1{
    color: white;
}


.section3{
background-color: black;
    height: 98vh;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.section3-Container{
    height: 60%;
    width: 20%;
    display: flex;
    justify-content: space-around;
}

.section3-Content{
    color: white;
    text-align: center;
    padding: 60px;
    background-color: rgba(10, 10, 10, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 80px;
    width: 50%;
    height: 80%;
    gap: 20px
}

body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0a0a0a;
    /* border: 1px solid rgb(103, 255, 57); */
}

